@media all and (max-width: 414px) {
  .main-movie-trailer {
    width: 100%;
  }
  .movies {
    margin: 20px auto;
  }
  .movie-list {
    flex-direction: column;
    align-items: center;
  }
  .movie-list li img {
    max-height: 350px;
  }
}
